.s-promo-services {
  background-color: $bg-color--default;

  &__list {
    margin-bottom: 2rem;

    .s-service-card {
      margin-bottom: 1rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 30px;
      }
    }
  }

  &__actions {
    text-align: center;
  }
}