.s-social-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    margin: 0;

    &:not(:first-child) {
      margin-left: 0.5rem;
    }

    @media (min-width: $screen-sm) {

      &:nth-child(1) {

        svg {
          width: 18px;
          height: 18px;
        }
      }

      &:nth-child(2) {

        svg {
          width: 8px;
          height: 18px;
        }
      }

      &:nth-child(3) {

        svg {
          width: 26px;
          height: 14px;
        }
      }
    }

    a {
      color: currentColor;
      position: relative;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover,
      &:focus {

        svg {
          fill: $color-primary;
        }
      }

      @media (min-width: $screen-sm) {
        width: 30px;
        height: 30px;
      }

      svg {
        vertical-align: middle;
        display: block;
        transition: all 0.3s ease-in 0s;
      }
    }
  }
}