-
  var mainMenu = [
    {
      "id": "0",
      "name": "Главная страница",
      "url": "/"
    },
    {
      "id": "10",
      "name": "Страницы",
      "url": "/",
      "childs": [
        {
          "id": "10-0",
          "name": "О компании",
          "url": "/"
        },
        {
          "id": "10-10",
          "name": "Услуги",
          "url": "/",
          "childs": [
            {
              "id": "10-10-0",
              "name": "Вёрстка",
              "url": "/"
            },
            {
              "id": "10-10-10",
              "name": "Стриптиз",
              "url": "/"
            }
          ]
        },
        {
          "id": "10-20",
          "name": "Ещё одна страница",
          "url": "/"
        },
      ]
    },
    {
      "id": "20",
      "name": "Репозиторий",
      "url": "/"
    },
    {
      "id": "30",
      "name": "Контакты автора",
      "url": "/"
    },
  ];
