.s-main-nav {

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0;

    li {
      margin: 0;

      @media (min-width: $screen-md) {

        &:not(:first-child) {
          margin-left: 2rem;
        }
      }

      a {
        display: block;
        line-height: rem(20px);
        text-decoration: none;
        position: relative;
        color: currentColor;

        &::before {
          content: '';
          position: absolute;
          left: -0.25rem;
          right: -0.25rem;
          top: -0.25rem;
          bottom: -0.25rem;
        }

        @media (min-width: $screen-sm) {

          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            border-bottom: 1px solid currentColor;
            transform: scaleX(0);
            transition: transform 0.3s cubic-bezier(0.4,0,0,1);
            transform-origin: center right;
          }
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          @media (min-width: $screen-sm) {

            &::after {
              transform: scaleX(1);
              transform-origin: center left;
            }
          }
        }
      }
    }
  }
}
