mixin promo()

  section.s-promo

    .swiper-container.promo-slider
      //- Additional required wrapper
      .swiper-wrapper
        //- Slides
        .swiper-slide
          .s-promo__slide-content
            .s-promo__slide-inner
              h2.s-promo__title УТП (Ваше торговое предложение)
              p.s-promo__desc.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis consectetur in ut sit iste culpa odit inventore voluptatem, maxime.
              +btn('Узнать подробнее', 'bg-white')(href='/')
          .s-promo__slide-cover
            img(src='img/utp-1.jpg', alt='/')
        .swiper-slide
          .s-promo__slide-content
            .s-promo__slide-inner
              h2.s-promo__title УТП (Ваше торговое предложение)
              p.s-promo__desc.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis consectetur in ut sit iste culpa odit inventore voluptatem, maxime.
              +btn('Узнать подробнее', 'bg-white')(href='/')
          .s-promo__slide-cover
            img(src='img/utp-1.jpg', alt='/')
        .swiper-slide
          .s-promo__slide-content
            .s-promo__slide-inner
              h2.s-promo__title УТП (Ваше торговое предложение)
              p.s-promo__desc.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis consectetur in ut sit iste culpa odit inventore voluptatem, maxime.
              +btn('Узнать подробнее', 'bg-white')(href='/')
          .s-promo__slide-cover
            img(src='img/utp-1.jpg', alt='/')
      //- Pagination
      .swiper-pagination
