.s-promo {
  min-height: 10rem;

  &__slide-cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.25);
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__slide-content {
    position: relative;
    min-height: calc(100vh - 110px);
    z-index: 2;
    color: #fff;
    text-align: center;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__slide-inner {
    max-width: 710px;
    margin: auto;
    padding: 0 1rem;
  }

  &__title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: ms(1);
    line-height: 1.1em;
  }

  &__desc {
    margin-bottom: 2rem;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
  }
}