.s-page-header {
  font-family: $font-family--heading;
  padding: 0.5rem 1rem;

  &__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-md) {
      justify-content: space-between;
    }
  }

  &__logo {
    order: 1;
  }

  &__nav {
    order: 4;
    flex-basis: auto;
    width: 100%;
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 1px solid rgba(#000, 0.25);
    margin-top: 0.5rem;
    padding-top: 0.5rem;

    @media (min-width: $screen-sm) {
      font-size: 0.7rem;
      letter-spacing: 1px;
    }

    @media (min-width: $screen-md) {
      order: 2;
      border-top: 0;
      margin: 0;
      padding: 0;
      width: auto;
      margin-left: 4rem;
    }
  }

  &__contact {
    order: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8rem;
    margin-left: auto;
    align-items: center;
    line-height: 1.25em;

    @media (min-width: $screen-md) {
      order: 3;
    }

    svg {

      @media (min-width: 414px) {
        display: block;
      }
    }

    ul {

      li {
        margin: 0;

        a {
          display: block;
          color: currentColor;

          &:hover,
          &:focus {
            text-decoration: none;
            opacity: 0.75;
          }
        }
      }
    }
  }

  &__address {
    order: 3;
    display: none;
    font-size: 0.8rem;
    line-height: 1.25em;

    @media (min-width: $screen-md) {
      order: 4;
    }

    span {
      display: block;
      max-width: 200px;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-left: 3rem;
    }
  }

  &__contact,
  &__address {

    svg {
      vertical-align: middle;
      margin-right: 1rem;
      display: block;

      circle {
        transition: all 1s cubic-bezier(0.8,0,0,1) 0s;
        stroke-dasharray: 2 * 3.14 * 26;
        stroke-dashoffset: 0;
        transform: rotate3d(0,0,1,0deg);
        transform-origin: center;
      }
    }

    &:hover {

      svg {

        circle {
          stroke-dasharray: 2 * 3.14 * 26;
          stroke-dashoffset: 2 * 3.14 * 26;
          transform: rotate3d(0,0,1,-45deg);
        }
      }
    }
  }
}