mixin page-header(mods)

  //- Param:
    mods {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods, role='banner')&attributes(attributes)
    .s-page-header__inner

      .s-page-header__logo
        +logo('/')
          img(src='img/logo.svg', alt='Logo', width='111', height='84')

      .s-page-header__nav
        nav.s-main-nav
          ul.s-main-nav__list
            li: a(href='/') Услуги
            li: a(href='/') Портфолио
            li: a(href='/') О нас
            li: a(href='/') Контакты

      .s-page-header__contact
        //- +svg-icon('phone', 54, 54)
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 54 54', width='54px', height='54px')
          title Phone
          g(fill='none', fill-rule='evenodd')
            circle(cx='27', cy='27', r='26', stroke='#009539')
            path(fill='#009539', d='M23.3413098 18.5c1.0390428.0188276 2.0025189.4518631 2.6826197 1.1861407.604534.6401394.9256927 1.4873828.8879093 2.3722814v.0753105c-.0188917.8284157-.3400504 1.6191762-.8879093 2.240488l-.4156172.4142078c-.056675.2824145.0377834 1.6003486 1.7758187 3.3324905 1.2657431 1.2802789 2.4370277 1.732142 3.0793451 1.732142.056675 0 .1322418 0 .1889168-.0188276l.5100756-.508346c.6234257-.4895184 1.3979849-.7719329 2.1914358-.7907605h.0755667c1.9647355 0 3.570529 1.6003486 3.570529 3.5584221v.1882763c-.0188917 1.6568314-1.813602 3.1442142-2.0214106 3.3136629-.7367758.6024841-1.6624685.9225538-2.6070529.9037262-1.6813602 0-4.5528967-.8472434-8.5768262-4.8575285-6.7632242-6.721464-4.7040302-10.2234031-3.9105793-11.1271294.1511335-.1882763 1.5680101-1.8262801 3.0982368-1.9957288C23.0957179 18.5 23.2279597 18.5 23.3413098 18.5zm0 1.2991065c-.0755667 0-.1511335 0-.2078085-.0188277-.7745592.0941382-1.7758187.9790368-2.2481109 1.5438657l-.0188917.0188276c-.2267002.2635869-.7367758 1.0355197-.5667506 2.391109.1700252 1.3555894 1.0579345 3.6713879 4.4017632 6.9850508 3.9105794 3.8973194 6.4798489 4.4809759 7.6700252 4.4809759.6234257.0376553 1.2468514-.1694486 1.756927-.5648289l.0377834-.0376552c.604534-.4706908 1.5491183-1.5250381 1.5491183-2.3157985v-.1317934-.0564829c0-1.2614512-1.0201511-2.2781433-2.2670025-2.2781433h-.056675c-.4911839 0-.9823678.1694487-1.3602016.4706908l-.4534005.4518631c-.1700251.1694487-.3778337.2824145-.604534.3388974-.1511335.0376552-.302267.0564828-.4722922.0564828-.5667506 0-2.0780856-.2071039-3.986146-2.1086945-1.8702771-1.8639354-2.3047859-3.5960774-2.1158691-4.4998036.0377834-.2447592.1700252-.4706907.3400504-.6401394l.3778338-.3765526c.3400503-.3765526.5289672-.8848986.5478589-1.3932446v-.1129658c.0188917-.5271737-.1889169-1.0355197-.5667506-1.4120723-.4534005-.4895183-1.0957179-.7719328-1.756927-.7907604z')

        ul.s-page-header__contact__list
          li: a(href='tel:+78126001725') +7 812 600 17 25
          li: a(href='mailto:6001525@mail.ru') 6001525@mail.ru

      .s-page-header__address
        //- +svg-icon('e-mail', 54, 54)
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 54 54', width='54px', height='54px')
          title E-mail
          g(fill='none', fill-rule='evenodd')
            circle(cx='27', cy='27', r='26', stroke='#009539')
            path(fill='#009539', d='M37 22.9795918C37 21.6101511 35.8401557 20.5 34.4094153 20.5H20.4778267c-1.4307404 0-2.5905847 1.1101511-2.5905847 2.4795918v8.5408164C17.887242 32.8898489 19.0470863 34 20.4778267 34h13.9315886C35.8401557 34 37 32.8898489 37 31.5204082v-8.5408164zm-16.493389-1.377551h13.9028043l.4605484.0826531-7.6566169 6.0887755-7.1960685-6.1163265.4893327-.0551021zm15.342018 9.9183674c0 .7608004-.6443579 1.377551-1.4392137 1.377551H20.4778267c-.7948558 0-1.4392137-.6167506-1.4392137-1.377551v-8.5408164c-.0015835-.1892945.0376109-.3768699.1151371-.5510204l7.6566169 6.5020408c.2154353.1763749.5329558.1763749.7483911 0l8.1459496-6.5020408c.0775262.1741505.1167205.3617259.1151371.5510204l.0287842 8.5408164z')
        span Москва, пер. Грохольский, дом 32, офис 302