.s-articles {
  margin-top: 3rem;

  @media (min-width: $screen-sm) {
    margin-top: 4.5rem;
  }

  &__inner {
    border-top: 1px solid rgba(#000, 0.07);
    padding-top: 3rem;
  }

  &__title {
    font-size: rem(28px);
    line-height: rem(32px);
    margin-bottom: 2rem;
  }

  &__item {
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-size: 1rem;
    line-height: rem(26px);
    margin-bottom: 0.5rem;
  }

  &__desc {
    font-size: rem(14px);
    line-height: rem(22px);
    opacity: 0.75;
    margin-bottom: 0.75rem;
  }

  &__more {
    display: block;
    color: $color-primary;
    font-size: rem(10px);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0.5rem 0;
    position: relative;
    font-family: map-get($headingtype, font-family);

    @media (min-width: $screen-md) {
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        left: -0.5rem;
        right: -0.5rem;
        top: -0.5rem;
        bottom: -0.5rem;
      }
    }

    span {
      display: inline-block;
      width: 2rem;
      height: 1px;
      position: relative;
      margin-right: 1rem;
      background-color: rgba(0,0,0,0.2);
      vertical-align: middle;

      &::before {
        background-color: rgba(0,0,0,1);
        height: 1px;
        width: 100%;
        left: 0;
        position: absolute;
        content: '';
        transform-origin: left center;
        transform: scaleX(.1);
        transition: 0.7s cubic-bezier(0.7,0,0,1) 0.1s;
      }
    }

    &:hover {
      text-decoration: none;
      color: $color-primary;

      span {

        &::before {
          transform: scaleX(1);
          background-color: $color-primary;
          transition: 0.7s cubic-bezier(0.7,0,0,1);
        }
      }
    }
  }
}