.s-promo-projects {
  background-color: $bg-color--muted;

  &__list {
    margin-bottom: 2rem;

    @media (min-width: $screen-md) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .s-project-card {
      margin-bottom: 1rem;

      @media (min-width: $screen-md) {
        margin-bottom: 30px;
      }
    }
  }

  &__actions {
    text-align: center;
  }
}