.s-projects-map {
  padding-top: 3rem;
  background-color: #fff;
  position: relative;

  @media (min-width: $screen-md) {
    padding-top: 6rem;
  }

  &__content {
    position: relative;

    @media (min-width: $screen-md) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__feedback {
    background-color: $bg-color--muted;
    position: relative;
    z-index: 2;
    padding: 1.5rem 1rem;
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      padding: 3rem;
      max-width: 440px;
      box-shadow: 0 30px 90px -20px rgba(10,25,41,0.25);
    }
  }

  .s-map {
    height: 450px;
    background-color: #D4EED5;

    @media (min-width: $screen-md) {
      height: 100%;
      z-index: 1;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
    }
  }
}