mixin projects-map()

  section.s-projects-map
    +main-subtitle('Карта наших объектов')

    .s-projects-map__content
      .container
        .s-projects-map__feedback
          +form()
            +field-text({
              attrs: {
                placeholder: 'Акакий'
              }
            })
            +field-text({
              attrs: {
                placeholder: 'Nokia'
              }
            })
            +field-checkbox([
              {
                title: 'Согласие на обработку персональных данных',
                attrs: {
                  name: 'check',
                }
              },
            ])
            +field-actions('', '')
              +btn('Заказать озеленение')

      .s-map