.s-btn {
  position: relative;
  display: inline-block;
  background-color: $color-primary;
  background-image: none;
  color: #fff;
  margin: 0;
  padding: 1.8em 2em;
  font-size: 0.6rem;
  font-family: $font-family--heading;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: all 0.25s ease-out 0s;

  &:hover,
  &:focus {
    background-color: #67b658;
    text-decoration: none;
  }

  &--bg-white {
    background-color: #fff;
    color: #333;

    &:hover,
    &:focus {
      color: #fff;
      background-color: #67b658;
    }
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: #333;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $color-primary;
    }
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}