//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/btn/btn.pug
include ../blocks/logo/logo.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/date/date.pug
include ../blocks/form/form.pug
include ../blocks/field-text/field-text.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/promo/promo.pug
include ../blocks/social/social.pug
include ../blocks/promo-services/promo-services.pug
include ../blocks/main-subtitle/main-subtitle.pug
include ../blocks/section/section.pug
include ../blocks/promo-projects/promo-projects.pug
include ../blocks/project-card/project-card.pug
include ../blocks/service-card/service-card.pug
include ../blocks/certificates/certificates.pug
include ../blocks/map/map.pug
include ../blocks/promo-contacts/promo-contacts.pug
include ../blocks/partners/partners.pug
include ../blocks/acquaintance/acquaintance.pug
include ../blocks/map-projects/map-projects.pug
include ../blocks/portfolio/portfolio.pug
include ../blocks/service-intro/service-intro.pug
include ../blocks/service-info/service-info.pug
include ../blocks/articles/articles.pug
