.s-portfolio {
  background: #fff;
  padding-top: 3rem;

  &__filter {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    position: relative;

    button {
      position: relative;
      display: inline-block;
      cursor: pointer;
      text-transform: uppercase;
      font-size: rem(12px);
      font-family: map-get($headingtype, font-family);
      letter-spacing: 1px;
      font-weight: 700;
      line-height: 1.5rem;

      &:not(:first-child) {
        margin-left: 2rem;
      }
    }
  }

  &__list {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;

    .s-project-card {
      width: 100%;
      min-width: 284px;
      box-shadow: none;

      @media (min-width: $screen-sm) {
        min-width: auto;
        max-width: 50%;
      }

      @media (min-width: $screen-md) {
        max-width: 25%;
      }
    }
  }

  &__actions {
    text-align: center;
  }
}