.s-main-subtitle {
  position: relative;
  text-align: center;
  margin-bottom: 1rem;
  max-width: 1110px;
  margin: auto;
  background-color: inherit;

  @media (min-width: $screen-md) {
    margin-bottom: 2rem;
  }

  &::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    transform: translate3d(0,-50%,0);
    height: 1px;
    background-color: rgba(#000, 0.25);
    z-index: 1;
  }

  span {
    position: relative;
    text-transform: uppercase;
    font-size: rem(20px);
    line-height: rem(26px);
    display: inline-block;
    padding: 1rem 1.5rem;
    letter-spacing: 2px;
    max-width: 80%;
    z-index: 2;
    background-color: inherit;

    @media (min-width: $screen-md) {
      padding: 1.5rem 2.5rem;
      font-size: rem(28px);
      line-height: rem(34px);
    }
  }
}