mixin partners()

  .s-partners
    .swiper-container.partners-slider
      //- Additional required wrapper
      .swiper-wrapper
        //- Slides
        .swiper-slide
          .s-partners__item
            img(src='img/bank-austria-creditanstalt.svg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/delta-airlines.svg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/digitalocean.svg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/lyft.svg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/national-geographic.svg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/ncr.svg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/reddit.svg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/slack.svg', alt='/')
        .swiper-slide
          .s-partners__item
            img(src='img/unicef.svg', alt='/')