.s-partners {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &__item {
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      max-height: 60px;
    }
  }
}