.s-acquaintance {
  background-color: #fff;

  &__cover {
    margin-bottom: 1.5rem;
  }

  &__info {

    @media (min-width: $screen-md) {
      padding-top: 1rem;
    }
  }

  .s-btn {
    margin-top: 2rem;
  }
}