.s-logo {
  display: inline-block;
  white-space: nowrap;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -0.5rem;
    right: -0.5rem;
    top: -0.5rem;
    bottom: -0.5rem;
  }

  img {
    display: block;
  }
}