mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .s-page-footer__inner
      .s-page-footer__top
        .s-page-footer__logo
          +logo('/')
            img(src='img/logo.svg', alt='Logo', width='165', height='125')

        .s-page-footer__nav
          .s-page-footer__nav-group
            h3.s-page-footer__subtitle Услуги
            ul.s-page-footer__list
              li: a(href='/') Ландшафтное проектирование
              li: a(href='/') Озеленение и благоустройство
              li: a(href='/') Создание водоемов
              li: a(href='/') Ландшафтное строительство
          .s-page-footer__nav-group
            h3.s-page-footer__subtitle Информация
            ul.s-page-footer__list
              li: a(href='/') Портфолио
              li: a(href='/') О нас
              li: a(href='/') Контакты

        .s-page-footer__contacts
          .s-page-footer__contacts-group
            h3.s-page-footer__subtitle Телефон
            a(href='tel:+78126001725') +7 812 600 17 25
          .s-page-footer__contacts-group
            h3.s-page-footer__subtitle E-mail
            a(href='mailto:') 6001525@mail.ru
          .s-page-footer__contacts-group
            h3.s-page-footer__subtitle Адрес
            address
              | Москва, пер. Грохольский
              br
              | дом 32, офис 302

      .s-page-footer__bottom
        span.s-page-footer__copyright © 2019. All Rights Reserved.

        .s-page-footer__social
          ul.s-social-list
            li: a(href='/')
              +svg-icon('instagram', 22, 22)
            li: a(href='/')
              +svg-icon('facebook', 9, 20)
            li: a(href='/')
              +svg-icon('vkontakte', 30, 18)