.s-page-footer {
  font-family: map-get($headingtype, font-family);
  font-size: rem(14px);
  line-height: rem(20px);
  padding: 3rem 1rem 1rem 1rem;

  @media (min-width: $screen-lg) {
    padding: 4rem 1rem 3rem 1rem;
  }

  &__inner {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

    @media (min-width: $screen-lg) {
      text-align: left;
    }
  }

  &__subtitle {
    font-family: map-get($headingtype, font-family);
    margin-bottom: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: rem(10px);

    @media (min-width: $screen-lg) {
      margin-bottom: 1.5rem;
    }
  }

  &__top {

    @media (min-width: $screen-lg) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    a {
      display: inline-block;
      color: currentColor;
      opacity: 0.75;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: -0.125rem;
        right: -0.125rem;
        top: -0.125rem;
        bottom: -0.125rem;
      }

      @media (min-width: $screen-sm) {

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          border-bottom: 1px solid currentColor;
          transform: scaleX(0);
          transition: transform 0.3s cubic-bezier(0.4,0,0,1);
          transform-origin: center right;
        }
      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: currentColor;

        @media (min-width: $screen-sm) {

          &::after {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
      }
    }
  }

  &__logo {
    margin-bottom: 3rem;

    @media (min-width: $screen-lg) {
      margin-right: auto;
      margin-bottom: 0;
    }
  }

  &__list {

    li {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__nav {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-sm) {
      flex-direction: row;
    }

    @media (min-width: $screen-lg) {
      align-items: flex-start;
      padding-top: 3rem;
      margin-bottom: 0;
    }
  }

  &__nav-group {
    margin-bottom: 2rem;

    @media (min-width: $screen-sm) {
      flex-basis: auto;
      width: 50%;
    }

    @media (min-width: $screen-lg) {
      width: 270px;
    }
  }

  &__contacts {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    @media (min-width: $screen-lg) {
      flex-basis: auto;
      width: 340px;
      justify-content: flex-start;
      padding-top: 3rem;
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      color: currentColor;
      opacity: 0.75;
    }
  }

  &__contacts-group {
    margin-bottom: 2rem;

    &:nth-child(1),
    &:nth-child(2) {
      flex-basis: auto;
      width: 50%;

      @media (min-width: $screen-sm) {
        width: 33.333333%;
      }

      @media (min-width: $screen-lg) {
        width: 50%;
      }
    }

    &:nth-child(3) {
      flex-basis: auto;
      width: 100%;

      @media (min-width: $screen-sm) {
        width: 33.333333%;
      }

      @media (min-width: $screen-lg) {
        width: 100%;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      text-align: left;
      justify-content: flex-start;
    }

    @media (min-width: $screen-lg) {
      padding-top: 4rem;
    }
  }

  &__copyright {
    opacity: 0.5;
    order: 2;
    display: block;

    @media (min-width: $screen-sm) {
      order: 1;
    }
  }

  &__social {
    order: 1;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      order: 2;
      margin-left: auto;
      margin-bottom: 0;
    }
  }
}