mixin service-card(title, src)

  a.s-service-card(href='/')
    .s-service-card__content
      ul.s-service-card__sub-list
        li Составление брифа
        li Геологические и геодезические изыскания
        li Эскиз проекта
        li Готовый проект
        li Выполнение работ
      h3.s-service-card__title #{title}
    .s-service-card__cover
      img(src=src, alt='/')