.s-service-card {
  display: block;
  color: currentColor;
  position: relative;
  box-shadow: 0 30px 90px -20px rgba(10,25,41,0.25);

  @media (min-width: $screen-md) {

    &:hover {

      .s-service-card__content {
        // background-color: rgba(#000, 0.25);
        // transition: background-color 1.3s cubic-bezier(.7,0,0,1) 0s;

        // New
        background-color: rgba(#000, 0.75);
        transition: background-color 0.5s cubic-bezier(.7,0,0,1) 0s;
      }

      .s-service-card__sub-list {

        // &::before {
        //   width: calc(100% + 2rem);
        //   height: calc(100% + 1rem);
        //   transition:
        //     width 1.3s cubic-bezier(.8,0,0,1) 0s,
        //     height 0.65s cubic-bezier(.8,0,0,1) 1.3s;
        // }

        li {
          // transition: all 0.5s ease-out 1.5s;
          transform: translate3d(0,0,0);
          opacity: 1;

          // New
          transition: all 0.5s ease-out 0s;
        }
      }

      .s-service-card__cover {

        // img {
        //   transform: scale(1.2);
        //   transition: transform 1.3s cubic-bezier(.7,0,0,1) 0s;
        // }
      }

      .s-service-card__title {
        opacity: 0;
      }
    }
  }

  &__cover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      // transition: transform 1.3s cubic-bezier(.7,0,0,1) 0.6s;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    min-height: 210px;
    background-color: rgba(#000, 0.5);
    // transition: background-color 1.3s cubic-bezier(.7,0,0,1) 0.6s;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

    // New
    transition: background-color 0.5s cubic-bezier(.7,0,0,1) 0s;

    @media (min-width: $screen-md) {
      min-height: 420px;
    }
  }

  &__title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #fff;
    font-size: rem(28px);
    line-height: rem(32px);
    opacity: 1;
    transition: opacity 0.5s cubic-bezier(.7,0,0,1) 0s;

    @media (min-width: $screen-md) {
      bottom: 3rem;
      left: 3rem;
      font-size: rem(39px);
      line-height: rem(44px);
    }
  }

  &__sub-list {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      position: absolute;
      top: 3rem;
      left: 3rem;
      // color: #333;
      font-size: 0.7rem;
      font-family: $font-family--heading;
      line-height: 1.5em;
      width: 270px;
      // padding: 1rem 0 0 2rem;
      font-weight: 700;

      // New
      color: #fff;

      li {
        opacity: 0;
        transform: translate3d(0,0.5rem,0);
        // transition: all 0s ease 0s;

        // New
        transition: all 0.5s ease-out 0s;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid #fff;
          opacity: 0.5;
          left: -1rem;
          top: 0.275rem;
          transform: translate3d(-50%,0,0);
        }
      }

      // &::before {
      //   position: absolute;
      //   content: '';
      //   left: 0;
      //   top: 0;
      //   height: 1px;
      //   width: 10%;
      //   background: #fff;
      //   transition:
      //     width 1.3s cubic-bezier(.8,0,0,1) 0.65s,
      //     height 0.65s cubic-bezier(.8,0,0,1) 0s;
      // }
    }
  }
}