mixin certificates()

  section.s-certificates.s-section
    +main-subtitle('Сертификаты')

    .swiper-container.certificates-slider
      //- Additional required wrapper
      .swiper-wrapper
        //- Slides
        .swiper-slide(href='img/diplom-01.jpg')
          img(src='img/diplom-01.jpg', alt='/')
        .swiper-slide(href='img/diplom-02.jpg')
          img(src='img/diplom-02.jpg', alt='/')
        .swiper-slide(href='img/diplom-03.jpg')
          img(src='img/diplom-03.jpg', alt='/')
        .swiper-slide(href='img/diplom-01.jpg')
          img(src='img/diplom-01.jpg', alt='/')
        .swiper-slide(href='img/diplom-02.jpg')
          img(src='img/diplom-02.jpg', alt='/')
        .swiper-slide(href='img/diplom-03.jpg')
          img(src='img/diplom-03.jpg', alt='/')
        .swiper-slide(href='img/diplom-01.jpg')
          img(src='img/diplom-01.jpg', alt='/')
        .swiper-slide(href='img/diplom-02.jpg')
          img(src='img/diplom-02.jpg', alt='/')
        .swiper-slide(href='img/diplom-03.jpg')
          img(src='img/diplom-03.jpg', alt='/')
      //- Pagination
      .swiper-pagination