.s-certificates {
  background-color: #fff;

  .swiper-slide {
    cursor: zoom-in;
  }

  .swiper-pagination {
    position: relative;
    padding-top: 2rem;
  }

  .swiper-pagination-bullet-active {
    background-color: currentColor;
  }
}