.s-promo-contacts {
  position: relative;
  padding-bottom: 3rem;

  @media (min-width: $screen-md) {
    padding-top: 3rem;
  }

  &__info {
    font-family: map-get($headingtype, font-family);
    position: relative;
    background-color: $color-primary;
    color: #fff;
    z-index: 2;
    margin-bottom: 15px;

    @media (min-width: $screen-md) {
      max-width: 440px;
      margin-bottom: 0;
      box-shadow: 0 30px 90px -20px rgba(10,25,41,0.25);
    }
  }

  &__title {
    margin: 0;
    font-size: rem(28px);
    line-height: rem(30px);
    padding: 1.5rem 2rem;
    background-color: rgba(#000, 0.2);
    font-weight: 700;

    @media (min-width: $screen-md) {
      padding: 2rem 3rem;
    }
  }

  &__info-main {
    padding: 1.5rem 2rem 2rem;
    font-size: rem(14px);
    line-height: rem(20px);
    font-weight: 400;

    @media (min-width: $screen-md) {
      padding: 2rem 3rem 3rem;
    }
  }

  &__subtitle {
    margin-bottom: 0.75rem;
    font-weight: 700;
    font-size: rem(20px);
    line-height: rem(26px);
  }

  &__address {
    margin-bottom: 1.5rem;
  }

  &__phone,
  &__e-mail {
    margin-bottom: 0.25rem;
    line-height: rem(20px);

    strong {
      font-weight: 400;
    }

    a {
      color: currentColor;
      font-weight: 700;
    }
  }

  &__actions {
    margin-top: 2rem;
  }

  .s-map {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 450px;

    @media (min-width: $screen-md) {
      position: absolute;
      top: 0;
      bottom: 0;
      max-width: 1320px;
      height: auto;
      left: 50%;
      transform: translate3d(-50%,0,0);
    }
  }
}