mixin promo-contacts()

  .s-promo-contacts
    .container
      .s-promo-contacts__info
        h2.s-promo-contacts__title Контакты
        .s-promo-contacts__info-main
          h3.s-promo-contacts__subtitle Приходите к нам в гости
          address.s-promo-contacts__address
            | Москва, пер. Грохольский,
            br
            | дом 32, офис 302
          h3.s-promo-contacts__subtitle Пишите, звоните
          .s-promo-contacts__phone
            strong Телефон:
            a(href='tel:+78126001725') +7 812 600 17 25
          .s-promo-contacts__e-mail
            strong E-mail:
            a(href='mailto:6001525@mail.ru') 6001525@mail.ru
          .s-promo-contacts__actions
            +btn('Заказать озеленение', 'bg-white')(href='/')

    #map.s-map
      script.
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
          });
        }

      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCtNjPbrhp4TRuUYYrjCWy5WS8QMJ1be2A&signed_in=true&callback=initMap', async='', defer='')