extends pug/layout.pug

block meta
  - var title = 'Main';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content

  +promo()

  +promo-services()
    +main-subtitle('Услуги')
    .container
      .s-promo-services__list
        .row
          .col-.col-sm-6
            +service-card('Ландшафтное проектирование', 'img/service-1.jpg')
          .col-.col-sm-6
            +service-card('Озеленение и благоустройство', 'img/service-2.jpg')
          .col-.col-sm-6
            +service-card('Ландшафтное строительство', 'img/service-3.jpg')
          .col-.col-sm-6
            +service-card('Создание водоемов', 'img/service-4.jpg')
      .s-promo-services__actions
        +btn('Посмотреть все услуги', 'ghost')(href='/')

  +promo-projects()
    +main-subtitle('Примеры работ')
    .container-fluid
      .s-promo-projects__list
        .row
          .col-.col-sm-6.col-lg-4
            +project-card('img/project-1.jpg', 'img/project-1.jpg')
          .col-.col-sm-6.col-lg-4
            +project-card('img/project-2.jpg', 'img/project-2.jpg')
          .col-.col-sm-6.col-lg-4
            +project-card('img/project-3.jpg', 'img/project-3.jpg')
          .col-.col-sm-6.col-lg-4
            +project-card('img/project-4.jpg', 'img/project-4.jpg')
          .col-.col-sm-6.col-lg-4.d-none.d-lg-block
            +project-card('img/project-5.jpg', 'img/project-5.jpg')
          .col-.col-sm-6.col-lg-4.d-none.d-lg-block
            +project-card('img/project-6.jpg', 'img/project-6.jpg')
          .col-.col-sm-6.col-lg-4.d-none.d-lg-block
            +project-card('img/project-7.jpg', 'img/project-7.jpg')
          .col-.col-sm-6.col-lg-4.d-none.d-lg-block
            +project-card('img/project-8.jpg', 'img/project-8.jpg')
          .col-.col-sm-6.col-lg-4.d-none.d-lg-block
            +project-card('img/project-9.jpg', 'img/project-9.jpg')
      .s-promo-projects__actions
        +btn('Посмотреть все работы', 'ghost')(href='/')

  +certificates()
  +projects-map()

  +acquaintance()
    +main-subtitle('О нас')
    .container
      .row
        .col-.order-xs-1.col-lg-6.order-lg-2
          .s-acquaintance__cover
            img(src='img/project-5.jpg', alt='/')
        .col-.order-xs-2.col-lg-6.order-lg-1
          .s-acquaintance__info
            p Компания «Зеленоград» работает в сфере благоустройства и озеленения вот уже 17 лет. За это время нами было реализовано 53 проекта. Мы собрали штат из 15 лучших специалистов в своей области. К каждому проекту мы подходим с душой, стараясь по максимуму учесть пожелания владельца сада. Над вашим садом будут работать профессионалы, влюбленные в собственное дело.
            +btn('Подробнее о нас', 'ghost')

  +partners()
  +promo-contacts()

block footer
  +page-footer()

block append page-bottom
  script(src='js/script.min.js')