extends pug/layout.pug

block meta
  - var title = 'Portfolio';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content

  +portfolio()
    +main-subtitle('Наши работы')
    .container-fluid
      .s-portfolio__filter
         button(data-filter='*') all
         button(data-filter='.type-1') Type 1
         button(data-filter='.type-2') Type 2
         button(data-filter='.type-3') Type 3
         button(data-filter='.type-4') Type 4
      .s-portfolio__list
        +project-card('img/project-1.jpg', 'img/project-1.jpg', 'type-1')
        +project-card('img/project-3.jpg', 'img/project-3.jpg', 'type-2')
        +project-card('img/project-5.jpg', 'img/project-5.jpg', 'type-3')
        +project-card('img/project-7.jpg', 'img/project-7.jpg', 'type-4')
        +project-card('img/project-1.jpg', 'img/project-1.jpg', 'type-1')
        +project-card('img/project-3.jpg', 'img/project-3.jpg', 'type-2')
        +project-card('img/project-5.jpg', 'img/project-5.jpg', 'type-3')
        +project-card('img/project-7.jpg', 'img/project-7.jpg', 'type-4')
        +project-card('img/project-1.jpg', 'img/project-1.jpg', 'type-1')
        +project-card('img/project-3.jpg', 'img/project-3.jpg', 'type-2')
        +project-card('img/project-5.jpg', 'img/project-5.jpg', 'type-3')
        +project-card('img/project-7.jpg', 'img/project-7.jpg', 'type-4')
      .s-promo-projects__actions
        +btn('Посмотреть все работы', 'ghost')(href='/')

  +projects-map()
  +certificates()
  +partners()
  +promo-contacts()

block footer
  +page-footer()

block append page-bottom
  script(src='https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js')
  script(src='js/script.min.js')
