extends pug/layout.pug

block meta
  - var title = 'Services';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content

  +promo-services()
    +main-subtitle('Услуги')
    .container
      .s-promo-services__list
        .row
          .col-.col-sm-6
            +service-card('Ландшафтное проектирование', 'img/service-1.jpg')
          .col-.col-sm-6
            +service-card('Озеленение и благоустройство', 'img/service-2.jpg')
          .col-.col-sm-6
            +service-card('Ландшафтное строительство', 'img/service-3.jpg')
          .col-.col-sm-6
            +service-card('Создание водоемов', 'img/service-4.jpg')
      .s-promo-services__actions
        +btn('Посмотреть все услуги', 'ghost')(href='/')

  +promo-projects()
    +main-subtitle('Наши последние работы')
    .container-fluid
      .s-promo-projects__list
        .row
          .col-.col-sm-4
            +project-card('img/project-1.jpg', 'img/project-1.jpg')
          .col-.col-sm-4
            +project-card('img/project-2.jpg', 'img/project-2.jpg')
          .col-.col-sm-4
            +project-card('img/project-3.jpg', 'img/project-3.jpg')
      .s-promo-projects__actions
        +btn('Посмотреть все работы', 'ghost')(href='/')

  +partners()
  +projects-map()
  +certificates()
  +promo-contacts()

block footer
  +page-footer()

block append page-bottom
  script(src='js/script.min.js')