extends pug/layout.pug

block meta
  - var title = 'Service';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content

  section.s-promo
    .swiper-container#service-slider
      .swiper-wrapper
        .swiper-slide
          .s-promo__slide-content
            .s-promo__slide-inner
              h2.s-promo__title Благоустройство земельных участков в Санкт-Петербурге
              +btn('Заказать благоустройство участка', 'bg-white')(href='/')
          .s-promo__slide-cover
            img(src='img/utp-1.jpg', alt='/')
        .swiper-slide
          .s-promo__slide-content
            .s-promo__slide-inner
              h2.s-promo__title Благоустройство земельных участков в Санкт-Петербурге
              +btn('Заказать благоустройство участка', 'bg-white')(href='/')
          .s-promo__slide-cover
            img(src='img/utp-1.jpg', alt='/')
        .swiper-slide
          .s-promo__slide-content
            .s-promo__slide-inner
              h2.s-promo__title Благоустройство земельных участков в Санкт-Петербурге
              +btn('Заказать благоустройство участка', 'bg-white')(href='/')
          .s-promo__slide-cover
            img(src='img/utp-1.jpg', alt='/')
      .swiper-pagination

  section.s-service-info.s-section
    .container
      .row
        .col-.col-lg-7
          .s-service-info__info
            h2.s-service-info__title Земельное благоустройство
            p.s-service-info__desc.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nobis in facilis minima, praesentium. Soluta sit magni aspernatur molestiae expedita! Distinctio, quia, pariatur culpa consequatur tempore dolore. Enim possimus sunt temporibus hic, quod optio suscipit velit provident, illo libero, dicta maxime praesentium vitae ducimus. Quis, mollitia repudiandae quisquam quam cupiditate.
            +btn('Заказать озеленение')
        .col-.col-lg-5.d-none.d-lg-block
          .s-service-info__cover
            img(src='img/project-5.jpg', alt='/')

    .s-articles
      .container
        .s-articles__inner
          h3.s-articles__title Статьи по теме
          .row
            .col-.col-md-4
              .s-articles__item
                h4.s-articles__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, error.
                p.s-articles__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt necessitatibus molestiae, esse odit recusandae eius fugit porro sit excepturi sequi.
                a.s-articles__more(href='/')
                  span
                  | Подробнее
            .col-.col-md-4
              .s-articles__item
                h4.s-articles__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
                p.s-articles__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ducimus quaerat provident natus, dolore vitae totam deleniti. Rem aliquid commodi, possimus est, nobis delectus asperiores!
                a.s-articles__more(href='/')
                  span
                  | Подробнее
            .col-.col-md-4
              .s-articles__item
                h4.s-articles__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p.s-articles__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aliquam hic id, blanditiis cupiditate explicabo dolorem laudantium, autem fugit ad?
                a.s-articles__more(href='/')
                  span
                  | Подробнее

  +promo-projects()
    +main-subtitle('Наши последние работы')
    .container-fluid
      .s-promo-projects__list
        .row
          .col-.col-sm-4
            +project-card('img/project-1.jpg', 'img/project-1.jpg')
          .col-.col-sm-4
            +project-card('img/project-2.jpg', 'img/project-2.jpg')
          .col-.col-sm-4
            +project-card('img/project-3.jpg', 'img/project-3.jpg')
      .s-promo-projects__actions
        +btn('Посмотреть все работы', 'ghost')(href='/')

  +partners()
  +projects-map()
  +certificates()
  +promo-contacts()

block footer
  +page-footer()

block append page-bottom
  script(src='js/script.min.js')
