@font-face {
  font-family: 'Synergia Pro';
  src: url('../fonts/synerga-pro-regular.woff2') format('woff2'),
       url('../fonts/synerga-pro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noah';
  src: url('../fonts/noah-bold.woff2') format('woff2'),
       url('../fonts/noah-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noah';
  src: url('../fonts/noah-regular.woff2') format('woff2'),
       url('../fonts/noah-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}