mixin project-card(image, thumb, type)

  a.s-project-card(href=image, class=type)
    //- .s-project-card__info
    //-   h3.s-project-card__project-name #{title}
    .s-project-card__cover
      img(src=thumb, alt='')
