.s-project-card {
  display: block;
  color: currentColor;
  position: relative;
  color: #fff;
  box-shadow: 0 30px 90px -20px rgba(10,25,41,0.25);

  cursor: zoom-in;
  height: 300px;

  // &:hover,
  // &:focus {
  //   color: #fff;
  //   text-decoration: none;

  //   .s-project-card__project-name {

  //     @media (min-width: $screen-sm) {

  //       &::after {
  //         transform: translate3d(-50%,0,0) scaleX(0);
  //         transform-origin: center right;
  //       }
  //     }
  //   }
  // }

  // &__info {
  //   position: relative;
  //   z-index: 2;
  //   min-height: 300px;
  //   background-color: rgba(#000, 0.5);
  //   transition: background-color 1.3s cubic-bezier(.7,0,0,1) 0.6s;
  //   width: 100%;
  //   height: 100%;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   overflow: hidden;
  //   z-index: 2;
  // }

  // &__project-name {
  //   margin: 0;
  //   padding: 0;
  //   text-transform: uppercase;
  //   letter-spacing: 2px;
  //   font-family: map-get($headingtype, font-family);
  //   font-weight: map-get($headingtype, bold);
  //   position: relative;
  //   font-size: rem(14px);
  //   line-height: rem(20px);

  //   @media (min-width: $screen-sm) {

  //     &::after {
  //       content: '';
  //       position: absolute;
  //       bottom: -0.25rem;
  //       left: 50%;
  //       width: 3rem;
  //       border-bottom: 1px solid currentColor;
  //       transform: translate3d(-50%,0,0) scaleX(1);
  //       transition: transform 0.3s cubic-bezier(0.4,0,0,1);
  //       transform-origin: center left;
  //     }
  //   }
  // }

  &__cover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}