.s-field-checkbox {
  display: block;
  margin-bottom: 1rem;

  &__title {
    display: block;
    font-weight: 700;
    line-height: $line-height;
    margin-bottom: 0.4em;
  }

  &__input-wrap {

    & + & {
      margin-top: 1rem;
    }
  }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 0.6em;
    font-weight: 400;
    line-height: $line-height;
  }

  &__name-text {
    display: inline-block;
    font-family: map-get($headingtype, font-family);
    font-size: rem(14px);
    line-height: rem(20px);

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(20,43,43,0.10);
      background-color: #fff;
    }

    @at-root input:focus ~ &:before {
      @include field-focus;
    }

    &:after {
      position: absolute;
      content: '';
      top: 9px;
      left: 4px;
      width: 12px;
      height: 8px;
      opacity: 0;
      transform: rotate(-45deg);
      transition: opacity 0.3s;
      border-left: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      box-shadow: 1px 2px 0 #fff, inset 0 -2px 0 #fff;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    opacity: 0;

    &:focus,
    &:active {
      @include field-focus;
    }
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
